.api-detail {
    text-align: left;
    border:solid 1px gray;
    margin-top:10px;
}

.success {
    color:green;
}

.failed {
    color:red;
}

.running {
    color:blue;
}

.button-flex {
    display: flex;
    justify-content: space-between;
}